[submodule "shred-sniper-server"]
	path = shred-sniper-server
	url = https://github.com/tuyu79/shred-sniper-server.git
[submodule "shred-sniper-ui"]
	path = shred-sniper-ui
	url = https://github.com/tuyu79/shred-sniper-ui.git
